Package: ${package_name}
Version: ${version}
Section: games
Priority: optional
Architecture: ${architecture}
Maintainer: ${maintainer}
Depends: ${dependencies}
% if recommends:
Recommends: ${recommends}
% endif
% if suggests:
Suggests: ${suggests}
% endif
% if enhances:
Enhances: ${enhances}
% endif
% if predepends:
Pre-Depends: {$predepends}
% endif
Installed-Size: ${size}
Description: ${summary}
 .
 ${description}
